<div class="inbox__window">
  <div class="inbox__header">
    <div class="header__logo">
      <p><span class="glyphicon glyphicon-envelope"></span> INBOX</p>
    </div>
    <div class="header__buttons">

    </div>
  </div>
  <div class="inbox__container">
    <div class="inbox__aside">
      <div class="aside__buttons">
        <div class="aside__button">
          <a routerLink="/" class="button__anchor"><span class="glyphicon glyphicon-inbox"></span></a>
        </div>
        <div class="aside__button">
          <a routerLink="/send" class="button__anchor"><span class="glyphicon glyphicon-plane"></span></a>
        </div>
        <div class="aside__button">
          <a routerLink="/new" class="button__anchor"><span class="glyphicon glyphicon-file"></span></a>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
