<div class="message">
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <div class="form">
      <div class="form__block">
        <label for="recipient">Recipient</label>
        <select
            name="recipient"
            class="block__input"
            formControlName="recipient">
              <option *ngFor='let rec of recipients' [selected]="rec === nameDevice" [value]="rec">{{rec}}</option>
        </select>
      </div>
      <div class="form__block">
        <label for="subject">Subject</label>
        <input
            type="select"
            name="subject"
            class="block__input"
            formControlName="subject">
      </div>
      <div class="form__block form__block--big">
        <label for="message">Message</label>
        <textarea
            type="text"
            name="message"
            rows="6"
            class="block__input"
            formControlName="message"
            style="resize:none; overflow:hidden"></textarea>
      </div>
      <button type="submit" name="button" class="form__button" >Send a message!</button>
    </div>
  </form>
</div>
