.glyphicon {
  font-size: 18px;
  color: #424242;
}

.inbox__window {
  margin: 25px auto;
  width: 600px;
  height: 300px;
  border: 2px solid #424242;
  border-radius: 5px;
  box-shadow: 0 0 10px #8e8e8e;
  font-family: 'Source Sans Pro', sans-serif;

  .inbox__header {
    height: 25px;
    border-bottom: 2px solid #424242;

    .header__logo {
      padding: 0 15px;
      font-weight: 800;
    }
  }

  .inbox__container {
    display: flex;

    .inbox__aside {
      flex: 1 0 50px;
      border-right: 2px solid #424242;

      .aside__button {
        text-align: center;
        height: 50px;
        border-bottom: 2px solid #424242;
        display: flex;
        align-items: center;
        width: 100%;

        .button__anchor {
          width: 100%;
          height: 100%;
          display: flex;
          text-decoration: none;
          transition: 0.35s;

          &:hover {
            background-color: #424242;
          }

          &:hover .glyphicon {
            color: #ffffff;
            font-size: 22px;
          }

          .glyphicon {
            transition: 0.35s;
            flex: 1 1 100%;
            align-self: center;
          }
        }
      }
    }

    .messages__list {
      overflow-y: scroll;
      height: 257px;
      display: flex;
      flex-flow: column nowrap;
    }
  }
}

.messages__list::-webkit-scrollbar {
  width: 1em;
}

.messages__list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid #ccc;
}
