<div class="messages__list">
  <div class="message" *ngFor="let msg of messages" [style.background]="color" >
    <a [routerLink]="['/messages', msg.id]" class="message__anchor">
      <div class="message__header">
        <div class="message__header--author">{{msg.recipient}}</div>
        <div class="message__header--date">{{msg.created}}</div>
      </div>
      <div class="message__subject">{{msg.subject}}</div>
      <div class="message__message">{{msg.message | slice:0:130}} ...</div>
    </a>
    <div class="message__options">
        <div class="message__option" (click)="readMessage(msg.id)"><span class="glyphicon glyphicon-ok"></span></div>
        <div class="message__option"><span class="glyphicon glyphicon-share-alt"></span></div>
        <div class="message__option" (click)="deleteMessage(msg.id)" ><span class="glyphicon glyphicon-trash"></span></div>
    </div>
  </div>
</div>
